footer
  address Create by
    a(href='http://mejorlinux.hol.es')  Ricardo moreno
  p Visit me on
    a(href='https://github.com/rich-97')  github
    span  or visit the repository of this
      a(href='https://github.com/rich-97/gnome-terminal.js')  proyect
