title gnome terminal simulator
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu')
link(rel='stylesheet' href='assets/css/main.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/atom-one-dark.min.css')
script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js')
