title gnome terminal simulator
meta(name='author' content='Ricardo Moreno')
meta(name='description' content='gnome terminal simulator')
meta(name='keywords' content='javascript, html, css, bash, shell')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu')
link(rel='stylesheet' href='assets/css/main.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/atom-one-dark.min.css')
script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js')
