section.presentation
  h1 Gnome Terminal Simulator
  p This terminal is made with javascript, html and css. It aims to achieve a simulation as close as possible to the terminal gnome in ubuntu and to create a simulation bash shell scripts with pure javascript.
  p Simple use:
    - var htmluse = '<div class="gnome">sudo apt install npm</div>'
    pre: code.html #{htmluse}
section.terminal
  div.gnome sudo apt install npm
