section.presentation
  h1 Gnome Terminal UI
  p This terminal is made with javascript, html and css. It aims to achieve a simulation as close as possible to the terminal gnome in ubuntu.
  p Simple use:
    - var htmluse = '<div class="gnome-terminal">sudo apt install npm</div>'
    pre: code.html #{htmluse}
section.terminal
  div.gnome-terminal sudo apt install npm
