$unity: 1px;
$height-header: 12%;
$height-terminal: 250;

// header btns
$width-btn: 18;
$height-btn: 18;
$border-radius-btn: 70;
$color-border-btn: #000;

// content
$height-content: 88%;
$color-content: #b0b0b0;
$letter-spacing: 1;
$word-spacing: 1.5;

// colors palette
$palette: (
  #d44e2a
  #e77a5b
  #626056
  #4a4a44
  #33132a
  #3a1930
);

.gnome-terminal {
  height: $height-terminal * $unity;

  .header-terminal {
    background-color: nth($palette, 4);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: $height-header;
  } // end .header

  .content {
    background-color: nth($palette, 5);
    height: $height-content;
    overflow: auto;
    position: relative;
    white-space: nowrap;
    width: 100%;

    .command-line {
      color: $color-content;
      letter-spacing: $letter-spacing * $unity;
      margin-left: 2.5px;
      position: relative;
      word-spacing: $word-spacing * $unity;

      .prompt {
        display: inline-block;
      }

      .shell {
        display: inline-block;
        margin-left: 5px;
      }
    }
  } // .content
} // .gnome-terminal

.list-btns-terminal {
  list-style: none;
  margin: 0;
  padding: 1.5px 0;

  li {
    float: left;
    margin: {
      bottom: 0;
      left: 3.5px;
      right: 3.5px;
      top: 3px;
    }
    position: relative;

    &:last-child {
      color: $color-content;
    }

    &:nth-child(1) {
      @include border(.3, darken(nth($palette, 4), 10));
      background-color: nth($palette, 1);

      &::after {
        color: nth($palette, 4);
        content: 'x';
        font-size: 13px;
        left: 28%;
        position: absolute;
      }
    }

    &:nth-child(2) {
      @include border(.3, darken(nth($palette, 4), 10));
      background-color: nth($palette, 3);

      &::after {
        bottom: -3.7px;
        color: nth($palette, 4);
        content: '-';
        font-size: 25px;
        left: 25%;
        position: absolute;
      }
    }

    &:nth-child(3) {
      @include border(.3, darken(nth($palette, 4), 10));
      background-color: nth($palette, 3);

      &::after {
        border: 1px solid nth($palette, 4);
        bottom: 4.7px;
        content: '';
        height: 8px;
        left: 3.5px;
        position: absolute;
        width: 8px;
      }
    }
  } // end li

  .btn-terminal {
    border-radius: $border-radius-btn * $unity;
    height: $height-btn * $unity;
    width: $width-btn * $unity;
  }

} // end .list-btns-terminal

.cursor {
  animation: cursor 1s infinite;
  display: inline-block;
  height: 15.5px;
  margin-left: 3px;
  position: absolute;
  top: 2.2px;
  width: 12.5px;
}

@keyframes cursor {
  from {@include bgc(#fff)}
  to {@include bgc((0, 0, 0, .1))}
}
