$font-family: 'Ubuntu';
$bgi-body-url: '../images/';
$bgi-body-basename: 'checker.png';
$bg-body-color: #d0d0d0;
$header-text-shadow: 2px 2px 1.5px #fff;
$term-box-shadow: 0 6px 12px rgba(0, 0, 0, .8);
$color-gray: #ccc;
$color-txt: darken($color-gray, 40);
$color-link: #4169e1;
